<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.xmchxup.latticy.mapper.ScorecardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.xmchxup.latticy.model.ScorecardDO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="title" property="title"/>
        <result column="comment" property="comment"/>
        <result column="level" property="level"/>
        <result column="score" property="score"/>
        <result column="guide_score" property="guideScore"/>
        <result column="guide_advise" property="guideAdvise"/>
        <result column="judge_score" property="judgeScore"/>
        <result column="judge_advise" property="judgeAdvise"/>
        <result column="guide_card_id" property="guideCardId"/>
        <result column="judge_card_id" property="judgeCardId"/>
        <result column="guide_answers" property="guideAnswers"/>
        <result column="judge_answers" property="judgeAnswers"/>
        <result column="assign_id" property="assignId"/>
        <result column="supplement" property="supplement"/>
    </resultMap>

    <resultMap id="ScoreCardVO" type="io.github.xmchxup.latticy.vo.ScoreCardVO" extends="BaseResultMap">
        <result column="student_id" property="studentId"/>
        <result column="topic_id" property="topicId"/>
        <result column="topic_name" property="topicName"/>
        <result column="topic_desc" property="topicDesc"/>
        <result column="teacher_name" property="teacherName"/>
        <result column="student_name" property="studentName"/>
        <result column="graduate_info_id" property="graduateInfoId"/>
        <result column="graduate_title" property="graduateTitle"/>
    </resultMap>

    <select id="getBySid" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM scorecard
                 LEFT JOIN topic ON topic.id = scorecard.topic_id
        WHERE topic.student_id = #{sid}
          AND scorecard.delete_time IS NULL
    </select>

    <select id="customSelectPage" resultType="io.github.xmchxup.latticy.model.ScorecardDO"
            parameterType="io.github.xmchxup.latticy.query.ScorecardQuery">

        select scorecard.*,
            topic_assign.student_id, topic_assign.topic_id,
            topic_select_table.name as topic_name, topic_select_table.description as topic_desc,
            teacher.name as teacher_name,
            student.name as student_name,
            graduate_info.id as graduate_info_id,
            graduate_info.title as graduate_title

            from scorecard join topic_assign on scorecard.assign_id = topic_assign.id
            join topic_select_table on topic_assign.topic_id = topic_select_table.id
            join teacher on topic_select_table.teacher_id = teacher.id
            join student on topic_assign.student_id = student.id
            join graduate_info on graduate_info.id = topic_select_table.graduate_info_id

            where graduate_info.id = #{graduateInfoId}
                and scorecard.delete_time is NULL

        <if test="teacherId != null">
            and teacher.id = #{teacherId}
        </if>


    </select>

    <select id="selectScoreCardById" resultMap="ScoreCardVO">
        select scorecard.*,
               topic_assign.student_id, topic_assign.topic_id,
               topic_select_table.name as topic_name, topic_select_table.description as topic_desc,
               teacher.name as teacher_name,
               student.name as student_name,
               graduate_info.id as graduate_info_id,
               graduate_info.title as graduate_title

        from scorecard join topic_assign on scorecard.assign_id = topic_assign.id
                       join topic_select_table on topic_assign.topic_id = topic_select_table.id
                       join teacher on topic_select_table.teacher_id = teacher.id
                       join student on topic_assign.student_id = student.id
                       join graduate_info on graduate_info.id = topic_select_table.graduate_info_id

        where graduate_info.id = #{graduateInfoId}
        <if test="cardId != null">and scorecard.id = #{cardId}</if>
        <if test="teacherId != null">and teacher.id = #{teacherId}</if>
        <if test="studentId != null">and student.id = #{studentId}</if>

    </select>
</mapper>
